* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", cursive;
  background-color: powderblue;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 8px;
  font-size: 1.5rem;
  border: none;
}

form button {
  color: cadetblue;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  background: powderblue;
  color: white;
}
